
@{
    ViewBag.Title = "Задание";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div style="width:500px; position:relative; text-align: justify; top:20px;">
                <img src="@Url.Content("~/Images/Irrigation-system.jpg")" width="500" height="270" />
                <div style="position: absolute; top:0px; left: 200px; width: 300px; height: 64px; background: rgba(19, 51, 76, 0.9); ">
                    <div style="color: white; font-size: 25px;position:relative; top:15px; left: 40px">Осталось 15 дней</div>
                </div>

            </div> 

        </div>
        <div class="col-md-4">
            <div style="width:500px; position:relative; text-align: justify; top:20px;">
                <h4>Премия: 100 000 &#8381;</h4>
                <div>
                <img src="@Url.Content("~/Images/mriy.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                @ViewBag.Business.Name
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div style="width:500px; position:relative; text-align: justify; top:20px;">
                <h4>Описание:</h4>
                <p>
                    Разработать интеллектуальную систему полива полей интегрированную с системой контроля увлажнения почвы.
                <p>
                    Система должна обеспечивать:
                </p>
                <ul>
                    <li>
                        расчёт и подбор оросительных установок и насосных станций;
                    </li>
                    <li>
                        проектирование систем орошения и полива;
                    </li>
                    <li>
                        поставку оборудования комплектующих и насосных систем;
                    </li>
                    <li>
                        монтаж, сборочные, пуско-наладочные работы;
                    </li>
                    <li>
                        ремонт, гарантийное и сервисное обслуживание.
                    </li>
                </ul>

                Орошение обеспечивает в условиях недостаточного естественного увлажнения поддержание в корнеобитаемом слое почвы орошаемого массива оптимального водно-солевого режима для получения высоких и устойчивых урожаев сельскохозяйственных культур.
                </div>
            </div>
            <div class="col-md-4">
                <div style="width:500px; position:relative; text-align: justify; top:20px;">
                    <h4>Команды</h4>
                   
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <div>
                                    <img src="@Url.Content("~/Images/FrJxEBJkX_U.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                                    <div style="width:120px">@Html.ActionLink("Петров Алексей Михайлович", "Index", "Group")</div>
                                    <p>профессор ДГТУ</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    <img src="@Url.Content("~/Images/TYwEqeIjaVU.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                                    <div style="width:120px">
                                        Ивано Иван Иванович
                                    </div>
                                    <p>профессор ДГТУ</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    <img src="@Url.Content("~/Images/wS_eY9uCtQo.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                                    <div style="width:120px">
                                        Сидоров Василий Викторович
                                    </div>
                                    <p>профессор ДГТУ</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
       
</div>



